.header__background {
  position: relative;

  background-image: url("../images/head/background-head.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #3a4f63;
}

h1 {
  margin-top: 306px;

  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 5.709374904632568px;
  text-align: center;
  color: #ffffff;
}

.header__description {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;

  margin-bottom: 221px;
}

.header__hint {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 3.700000047683716px;
  text-align: center;
  color: #ffffff;

  text-transform: uppercase;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 42px;
  padding-bottom: 71px;
}
